BASE_NAME=keycloak
BIND_ADDRESS=127.0.0.1

# POSTGRES --------------------------------------------------------------------

POSTGRES_VERSION=17.6

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=password

POSTGRES_PORT=5432
POSTGRES_DATA_DIR=./data/postgres

# KEYCLOAK -------------------------------------------------------------------

KEYCLOAK_VERSION=26.3.4

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KEYCLOAK_PORT=8080
KEYCLOAK_DATA_DIR=./data/keycloak